syntax: glob
*.flc
*.orig
*.rej
*~
*.o
*.a
*.lo
*.la
*.Plo
.deps
.libs
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile
Makefile.in
src/Xen_SettingDataLexer.c
src/Xen_SettingDataParser.c
src/Xen_SettingDataParser.h
src/Xen_SettingDataParser.output
