# $Id: sfcb.cfg.pre.in,v 1.10 2007/02/22 16:04:27 mihajlov Exp $
# Sample Configuration for Small Footprint CIM Broker
httpPort:       5988
enableHttp:     true
httpProcs:      8
httpsPort:      5989
enableHttps:    false
httpsProcs:     8
provProcs:      32
doBasicAuth:    true
basicAuthLib:   sfcBasicPAMAuthentication
useChunking:    true
keepaliveTimeout: 1
keepaliveMaxRequest: 10
sslKeyFilePath: /etc/sfcb/file.pem
sslCertificateFilePath: /etc/sfcb/server.pem
sslClientTrustStore: /etc/sfcb/client.pem
sslClientCertificate: ignore
certificateAuthLib:   sfcCertificateAuthentication
registrationDir: /var/lib/sfcb/registration
providerDirs: /usr/lib /usr/lib/cmpi
enableInterOp:  true
